<div id="dialog-pass" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <p>Room is password protected</p>
  </div>
  <div class="modal-body">
    <p><input type="password" placeholder="Password"></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Confirm</a>
  </div>
  <div id="room_id" style="display:none;"></div>
</div>
