<div class="navbar">
  <div class="navbar-inner">
  <ul class="nav">
    <li> <%= link_to("overview", "/room/overview") %> </li>
    <li> <%= link_to("create", "/room/new") %> </li>
    <li> <%= link_to("current", "/room/index") %> </li>
    <li> <%= link_to("logout", "/home/logout") %> </li>
  </ul>
</div>
</div>
