<h1>Room#index</h1>
<p>Find me in app/views/room/index.html.erb</p>
<div id="chatInput">
  <div class="input-append">
    <input class="span2" type="text" id="chattextbox">
    <button class="btn" type="button" id="chattextbtn">Send</button>
  </div>
    <%= link_to("leave", "/room/event/leave") %>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div id="userlist" class="span2">
      <ul class="nav nav-list">
      </ul>
    </div>

    <div id="chat" class="span8">
    </div>
  </div>
</div>

<script type="text/coffeescript">
$(document).ready(->
  $("#indexscript").ready(->
    update();
    setInterval(update, 5000);
    $("#chattextbtn").click(()->
      $.get("/room/event/say/"+encodeURIComponent($("#chattextbox").val()))
      $("#chattextbox").val("");
      update();
    );
  );
);
</script>
