<h1>Room#index</h1>
<p>Find me in app/views/room/index.html.erb</p>
<div id="chatInput" class="container-fluid">
  <div class="row">
    <div class="span2">
      <%= link_to("leave", "/room/event/leave", {:class=>"btn"}) %>
      <%= button_tag("refresh", {:class=>"btn", :id=>"refreshbtn"}) %>
    </div>

    <div class="input-append span8">
      <input type="text" id="chattextbox">
      <button class="btn" type="button" id="chattextbtn">Send</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div id="userpanel" class="span2">
      <div>
        Currently in this room
      </div>
      <ul class="nav nav-list" id="userlist">
      </ul>
    </div>

    <div id="chat" class="span8">
    </div>
  </div>
</div>

<script type="text/coffeescript">
$(document).ready ->
  update()
  setInterval(update, 5000)

  $("#refreshbtn").click ->
    update()

  $("#chattextbtn").click ->
    a = $.get("/room/event/say/"+encodeURIComponent($("#chattextbox").val()))
    .fail(->
      if a.status == 412
        alert("please wait 3 seconds between each submit")
    )

    $("#chattextbox").val("")
    update()
</script>
