// Place all the styles related to the room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leave{
  //background-color: red;
};

.join{
  //background-color: green;
};

#chat, #userlist, #userlist-head{
  background-color: white;
}

#userpanel{
  background-color: white;
}

.roompanel{
  margin-bottom: 10px;
}
